body {
  background-color: #fff4e9;
  font-family: 'Ink Free', sans-serif;
  color: #9AAB89;
  display: flex;
  flex-wrap: wrap;
}

h1, h2, .sub-title, p, nav, #emailForm, canvas {
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  background-color: #e1dddd;
  text-align: center;
}

.sub-title {
  border: thick double;
}

h2 {
  width: 50%;
  background-color: #e1dddd;
}

h3 {
  display: flex;
  width: 50%;
  justify-content: right;
  }

p {
  border: 2px solid;
}

nav {
  width: 25%;
  border: 30px solid #808080;
}

#emailForm {
  width: 45%;
}

canvas {
  width: 45%;
}

img {
  max-width: 200px;
  height: auto;
}