.head-container {
    background: #FFFDD0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}
.head-content {
    color: #5d654e
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: 0;
}